 <html>
 <head>
    <meta charset="UTF-8" />
    <link href="./bower_components/angular-material/angular-material.css" rel="stylesheet" />

    <style type="text/css">
      .message{
    color: #666;
    padding-left: 10px;}
      .error{
    background-color: ffdddd;
    border: 1px solid #ff8888;}
      .success{
    background-color: ddffdd;
    border: 1px solid #88ff88;}
    </style>
  </head>

  <body ng-app="starterApp" layout="column" ng-controller="Login as login">
    <div id="teste"></div>
    <md-toolbar layout="row">
      <h1 flex="80">Agenda - Login</h1>
      <h2>{{login.usuarioLogado}}</h2>
      <md-button class="md-raised" ng-click="logout()">Logout</md-button>
    </md-toolbar>
    <div layout="column" flex id="content" role="main">
        <md-content layout="vertical" flex id="content">
              <div ng-controller="Agendamento as agend" layout="column" layout-align="center center" layout-fill>
                  <label>Lista de agendamentos</label>
                  <md-whiteframe class="md-whiteframe-z1" layout="row" layout-padding>
                      <md-content md-theme="docs-dark">
                          <div ng-repeat="(key, value) in agend.listaAgendamentos">
                            <span style="cursor:pointer" ng-model="usu.item" ng-init="usu.item = value" ng-click="exibirParticipantesDoAgendamento(value[0])">{{value[1]}}</span>
                          </div>
                      </md-content>
                  </md-whiteframe>
                  <label>Usuários participantes do compromisso</label>
                  <md-content md-theme="docs-dark">
                      <div ng-repeat="(chave, value) in agend.listaUsuariosAgendamento">
                        <span style="cursor:pointer" ng-model="agend.value" ng-init="agend.chave = nome_usuario" >{{value['nome_usuario']}}</span>
                      </div>
                  </md-content>
              </div>
              <div ng-controller="Agendamento as agend" layout="column" layout-align="center center" layout-fill >
                  <div class="{{agend.classMessage}}" >
                    {{agend.message}}
                  </div>
                  <label>Agendar</label>
                  <md-whiteframe class="md-whiteframe-z1" layout="row" layout-padding>
                      <md-content md-theme="docs-dark" layout="column">
                          <md-input-container>
                              <label>Descrição</label>
                              <input ng-model="agend.descricao" type="text">
                          </md-input-container>
                          <md-datepicker ng-model="agend.dtAgendamento" md-placeholder="Data">
                          </md-datepicker>
                          <div style="position:relative; top:15px;">
                            <label>Selecione uma hora para o compromisso</label>
                            <div id="horasSelect" ></div>
                          </div>
                          <md-input-container layout-align="center center">
                              <div layout="row" layout-sm="column" layout-margin>
                                  <md-button class="md-raised" flex="50" flex-sm="100" ng-click="addAgendamento()">Agendar</md-button>
                              </div>
                          </md-input-container>
                      </md-content>
                  </md-whiteframe>
              </div>
            <div layout="column" layout-align="center center" layout-fill ng-controller="Usuarios as usu" >
                    <label>Adicionar usuários ao compromisso</label>
                    <md-whiteframe class="md-whiteframe-z1" layout="row" layout-padding>
                        <md-content md-theme="docs-dark">
                            <div ng-repeat="(key, value) in usu.listaUsuarios">
                              <span style="cursor:pointer" ng-model="usu.item" ng-init="usu.item = value" ng-click="adicionaUsuarioListaSelecionados(value)">{{value[1]}}</span>
                            </div>
                        </md-content>
                    </md-whiteframe>
                    <label>usuários adicionados</label>
                    <md-whiteframe class="md-whiteframe-z1" layout="row" layout-padding>
                        <md-content md-theme="docs-dark">
                            <div ng-repeat="(chave, value) in usu.listaUsuariosAdicionados">
                              <span style="cursor:pointer" ng-model="usu.item" ng-init="usu.item = value" ng-click="removeUsuarioListaSelecionados(value)">{{value[1]}}</span>
                            </div>
                            <input name="teste[]" ng-model="usu.listaUsuariosAdicionados" type="hidden" id="listaUsuariosSelecionados">
                        </md-content>
                    </md-whiteframe>
            </div>
        </md-content>
    </div>
    <script src="./bower_components/jquery/dist/jquery.js" type="text/javascript" ></script>
    <script src="./bower_components/angular/angular.js" type="text/javascript" ></script>

    <script src="./bower_components/angular-animate/angular-animate.js" type="text/javascript" ></script>
    <script src="./bower_components/angular-aria/angular-aria.js" type="text/javascript" ></script>
    <script src="./bower_components/angular-material/angular-material.js" type="text/javascript" ></script>




    <script>
        $( document ).ready(function() {
          var selectCampo = "<select id=\"selectHoras\" name=\"selectHoras\">";
          for (var i = 1; i <= 24; i++) {
            selectCampo += "<option value=\""+i+"\">"+i+"</option>"
          };
          selectCampo += "</select>";
          $('#horasSelect').html(selectCampo);
        });
        // Include the dependency upon ngMaterial - important !!
        angular.module('starterApp', ['ngMaterial'])
          .controller('Login', ['$scope', Login])
          .controller('Agendamento', ['$scope', Agendamento])
          .controller('Usuarios', ['$scope', Usuarios]);

        function Usuarios($scope){
          //Login.store('Usuarios', $scope);
          $.ajax({
            type: "POST",
            url: "action/agendaAction.php",
            data: {"funcao":"getListaUsuarios"},
            success: function (response) {
              var dados = JSON.parse(response);
              var arrayListUsuarios = new Array();
              for (var i = 0; i < dados['usuarios'].length; i++) {
                arrayListUsuarios[i] = [dados['usuarios'][i]['id'], dados['usuarios'][i]['nome']+" - "+dados['usuarios'][i]['email']];
              } 
              $scope.usu.listaUsuarios = arrayListUsuarios;
            },
            error: function (error) {
              document.getElementById('teste').innerHTML = "deu erro";
            },
            async: false
          });
          $scope.adicionaUsuarioListaSelecionados = function(arrayParam) {
            if (!$scope.usu.listaUsuariosAdicionados) {
              $scope.usu.listaUsuariosAdicionados = new Array(arrayParam);
              $('#listaUsuariosSelecionados').val($scope.usu.listaUsuariosAdicionados);
            } else {
              var i = $scope.usu.listaUsuariosAdicionados.indexOf(arrayParam);
              if(i == -1) {
                $scope.usu.listaUsuariosAdicionados.push(arrayParam);
                $('#listaUsuariosSelecionados').val($scope.usu.listaUsuariosAdicionados);
              }
            }
            var post = $scope.usu.listaUsuariosAdicionados;
            $.ajax({
              type: "POST",
              url: "action/agendaAction.php",
              data: {"funcao":"setListaUsuariosSelecionados", "params" : {"post":post}},
              success: function (response) {
                var dados = JSON.parse(response);
                var arrayListUsuarios = new Array();
              },
              error: function (error) {
                document.getElementById('teste').innerHTML = "deu erro";
              },
              async: false
            });
          }
          $scope.removeUsuarioListaSelecionados = function(arrayParam) {
            var i = $scope.usu.listaUsuariosAdicionados.indexOf(arrayParam);
            if(i != -1) {
              $scope.usu.listaUsuariosAdicionados.splice(i, 1);
              $('#listaUsuariosSelecionados').val($scope.usu.listaUsuariosAdicionados);
            }
            var post = $scope.usu.listaUsuariosAdicionados;
            $.ajax({
              type: "POST",
              url: "action/agendaAction.php",
              data: {"funcao":"setListaUsuariosSelecionados", "params" : {"post":post}},
              success: function (response) {
                document.getElementById('teste').innerHTML = response;
                var dados = JSON.parse(response);
                var arrayListUsuarios = new Array();
              },
              error: function (error) {
                document.getElementById('teste').innerHTML = "deu erro";
              },
              async: false
            });
          }
        }
        function Agendamento($scope) {
          //Login.store('Agendamento', $scope);
          $.ajax({
            type: "POST",
            url: "action/agendaAction.php",
            data: {"funcao":"getListaAgendamentos"},
            success: function (response) {
              var dados = JSON.parse(response);
              var arrayListAgendamentos = new Array();
              for (var i = 0; i < dados['agendamentos'].length; i++) {
                arrayListAgendamentos[i] = [dados['agendamentos'][i]['id'], dados['agendamentos'][i]['descricao']];
              } 
              $scope.agend.listaAgendamentos = arrayListAgendamentos;
            },
            error: function (error) {
              document.getElementById('teste').innerHTML = "deu erro";
            },
            async: false
          });
          $scope.exibirParticipantesDoAgendamento = function(codAgendamento) {
            var post = {"id":codAgendamento}
            $.ajax({
              type: "POST",
              url: "action/agendaAction.php",
              data: {"funcao":"exibirParticipantesAgendamento", "params" : {"post" : post}},
              success: function (response) {
                var dados = JSON.parse(response);
                $scope.agend.listaUsuariosAgendamento = dados['agendamentosUsuarios'];
              },
              error: function (error) {
                document.getElementById('teste').innerHTML = "deu erro";
              },
              async: false
            });  
          }
          $scope.addAgendamento = function () {
            var d = new Date($scope.agend.dtAgendamento);
            var curr_date = d.getDate();
            var curr_month = d.getMonth();
            curr_month++;
            var curr_year = d.getFullYear();
            var usuariosSelecionados;
            $scope.agend.dtAgendamento = curr_year+"-"+curr_month+"-"+curr_date+" "+$('#selectHoras').val()+":00:00";
            usuariosSelecionados = $('#listaUsuariosSelecionados').val();
            $scope.agend.listaUsuariosSelecionados = usuariosSelecionados;
            var post = $scope.agend;
            $.ajax({
              type: "POST",
              url: "action/agendaAction.php",
              data: {"funcao":"addAgendamento", "params" : {"post" : post}},
              success: function (response) {
                var dados = JSON.parse(response);
                if (dados['agendamento'][0] == "message") {
                  $scope.agend.classMessage = "message "+dados['agendamento'][1][0];
                  $scope.agend.message = dados['agendamento'][1][1];
                  if (dados['agendamento'][1][0] == "success") {
                    location.reload();
                  }
                }
              },
              error: function (error) {
                document.getElementById('teste').innerHTML = "deu erro";
              },
              async: false
            });    
          }
        }

        function Login($scope) {
          $.ajax({
            type: "POST",
            url: "action/agendaAction.php",
            data: {"funcao":"getSession"},
            success: function (response) {
              var dados = JSON.parse(response);
              if (dados['login']['logado'] == 'N') {
                $(location).attr('href', 'index.html');
              } else {
                $scope.login.usuarioLogado = dados['login']['usuarioLogado'];
              }
            },
            error: function (error) {
              document.getElementById('teste').innerHTML = "deu erro";
            },
            async: false
          });
          var mem = {};
          $scope.store = function (key, value) {
            mem[key] = value;
          }
          $scope.get = function (key) {
            return mem[key];
          }
          $scope.logout = function () {
            $.ajax({
            type: "POST",
            url: "action/agendaAction.php",
            data: {"funcao":"logout"},
            success: function (response) {
                $(location).attr('href', 'index.html');
            },
            error: function (error) {
              document.getElementById('teste').innerHTML = "deu erro";
            },
            async: false
          });
          }
        }
    </script>
  </body>
  </html>