 <head>
    <link href="./bower_components/angular-material/angular-material.css" rel="stylesheet" />
    <style type="text/css">
      .message{height: 40px;
    line-height: 40px;
    color: #666;
    padding-left: 10px;}
      .error{
    background-color: ffdddd;
    border: 1px solid #ff8888;}
      .success{
    background-color: ddffdd;
    border: 1px solid #88ff88;}
    </style>
  </head>

  <body ng-app="starterApp" layout="column">
    <div id="teste"></div>
    <md-toolbar>
      <h1>Agenda - Cadastro de usuário</h1>
    </md-toolbar>
    <div layout="column" flex id="content" role="main"  ng-controller="User as user">
        <md-content layout="vertical" flex id="content">
            <div layout="column" layout-align="center center" layout-fill layout-align="center">
                <div class="{{user.classMessage}}" >
                  {{user.message}}
                </div>
                <md-whiteframe class="md-whiteframe-z1" layout-padding>
                    <md-content md-theme="docs-dark" layout="column">
                        <input ng-model="user.message" type="hidden">
                        <md-input-container>
                            <label>Nome</label>
                            <input ng-model="user.nomeUsuario">
                        </md-input-container>
                        <md-input-container>
                            <label>Sobrenome</label>
                            <input ng-model="user.sobrenomeUsuario">
                        </md-input-container>
                        <md-input-container>
                            <label>Email</label>
                            <input ng-model="user.emailUsuario">
                        </md-input-container>
                        <md-input-container>
                            <label>Password</label>
                            <input ng-model="user.senhaUsuario" type="password">
                        </md-input-container>
                        <md-input-container layout-align="center center">
                            <div layout="row" layout-sm="column" layout-margin>
                                <md-button class="md-raised" flex="50" flex-sm="100" ng-click="cadastrarUsuario()">Salvar</md-button>
                                <md-button class="md-raised md-primary" flex="50" ng-click="voltarParaLogin()" flex-sm="100">Cancelar</md-button>
                            </div>
                        </md-input-container>
                    </md-content>
                </md-whiteframe>
            </div>
        </md-content>
    </div>
    <script src="./bower_components/jquery/dist/jquery.js" type="text/javascript" ></script>
    <script src="./bower_components/angular/angular.js" type="text/javascript" ></script>
    <script src="./bower_components/angular-animate/angular-animate.js" type="text/javascript" ></script>
    <script src="./bower_components/angular-aria/angular-aria.js" type="text/javascript" ></script>
    <script src="./bower_components/angular-material/angular-material.js" type="text/javascript" ></script>
    


    <script>
        // Include the dependency upon ngMaterial - important !!
        angular.module('starterApp', ['ngMaterial'])
          .controller('User', ['$scope', User]);

        function User($scope) {
          $scope.voltarParaLogin = function() {
            $(location).attr('href', 'index.html');
          }
          $scope.cadastrarUsuario = function() {
            var post = $scope.user;
            $.ajax({
              type: "POST",
              url: "action/cadastroUsuarioAction.php",

              data: {"funcao":"getAddUsuario", "params" : {"post" : post}},
              success: function (response) {
                var dados = JSON.parse(response);
                if (dados['usuarios'][0] == "message") {
                  $scope.user.classMessage = "message "+dados['usuarios'][1][0];
                  $scope.user.message = dados['usuarios'][1][1];
                }
              },
              error: function (error) {
                $scope.user.classMessage = "message error";
                $scope.user.message = "Ocorreu um erro inesperado.";
              },
              async: false
            });
          }
        }
    </script>
  </body>